@import "compass";

// Mixins
@import "materialize/components/mixins";
@import "materialize/components/prefixer";
@import "materialize/components/color";


/*** Colours ***/
$primary-color: color("grey", "darken-4");
$secondary-color: color("grey", "darken-3");

@import "materialize/components/variables";
@import "materialize/components/cards";
@import "materialize/components/slider";

$footer-bg-color: $primary-color-dark;

@import "materialize";

// sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > article {
    padding-top: 1rem;
  }

  > main {
    flex: 1 0 auto;
  }
}

.page-footer {
  color: color("grey", "base");
  margin-top: 0 !important;

  a {
    color: inherit;
  }

  .assoc-logo {
    max-height: 2rem;
  }
}

$main-nav-top: 3rem;
$main-nav-height: 6rem;

#main-nav {
  background: transparent;
  box-shadow: none;

  margin-top: $main-nav-top;
  height: $main-nav-height;
  line-height: $main-nav-height;

  .container {
    display: block;
  }

  .brand-logo {
    height: inherit;
    
    img {
      height: inherit;
      padding: 0.2rem
    }
  }

  .dropdown-button {
    @extend .valign-wrapper;
  }

  .dropdown-content {
    min-width: 140px;
  }
}

#page-title {
  margin-top: 8rem;
}

#TableOfContents {
  height: auto;

  > ul {
    @extend .table-of-contents;  

    > li > ul {

      li {
        width: 100%;
      }
    }
  }

  > ul li:hover {
    background-color: inherit;
  }
}

// Setup parallax images
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  background-color: color("grey", "darken-4");
  z-index: 0;

  p {
    line-height: 2rem;
  }

  .parallax img {
    height: 150%;
  }
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 0;
  }
}

#index-banner {
  min-height: 100vh;

  #splash-logo {
    min-height: calc(100vh - #{($main-nav-height + $main-nav-top)});
  }
}

article {
  ul {
    list-style-type: square;
    padding-left: 1.5rem;

    li {
      list-style-type: square;
    }
  }
}

.profile-photo {
  width: 160px;
}

.social-icons{
  padding-right: 8px;
  height: 20px;
}

#full-page {
  height: 70vh;
}

// .card-image {
//   height: 15rem;

// }

.slider {
  height: 400px !important;
}

.slider-logo {
  height: auto !important;
  width: 6rem !important;
  margin: 1rem;
}

.outline {
  color: #fff;
  text-shadow: #000 0px 0px 5px, #000 0px 0px 2px;
  -webkit-font-smoothing: antialiased;
}
