// Mixins
//@import "node_modules/materialize-css/sass/components/prefixer";
//@import "node_modules/materialize-css/sass/components/mixins";
@import "node_modules/materialize-css/sass/components/color-variables";

$primary-color: color("grey", "darken-4");
$secondary-color: color("grey", "darken-3");

@import "node_modules/materialize-css/sass/components/variables";

$footer-bg-color: $primary-color-dark;

@import "node_modules/materialize-css/sass/materialize";

// sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > article {
    padding-top: 1rem;
  }

  > main {
    flex: 1 0 auto;
  }
}

.page-footer {
  color: color("grey", "base");
  margin-top: 0 !important;
  padding: 1em 0 !important;

  a {
    color: inherit;
  }

  .assoc-logo {
    max-height: 2rem;
  }
}

$main-nav-top: 3rem;
$main-nav-height: 6rem;

#main-nav {
  background: transparent;
  box-shadow: none;

  margin-top: $main-nav-top;
  height: $main-nav-height;
  line-height: $main-nav-height;

  .container {
    display: block;
  }
  @media only screen and (max-width : 600px) {
    margin-top: 5vh;

    .container {
      margin-top: 0px;
    }
  }

  .brand-logo {
    height: inherit;

    img {
      height: inherit;
      padding: 0.2rem
    }
  }

  .dropdown-button {
    @extend .valign-wrapper;
  }

  .dropdown-content {
    min-width: 140px;
  }
}

#page-title {
  margin-top: 8rem;
}

#TableOfContents {
  height: auto;

  > ul {
    @extend .table-of-contents;

    > li > ul {

      li {
        width: 100%;
      }
    }
  }

  > ul li:hover {
    background-color: inherit;
  }
}

// Setup parallax images
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  background-color: color("grey", "darken-4");
  z-index: 0;

  p {
    line-height: 2rem;
  }

  .parallax img {
    height: 150%;
  }
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 0;
  }
}

#index-banner {
  min-height: 100vh;

  #splash-logo {
    min-height: calc(100vh - #{($main-nav-height + $main-nav-top)});
  }
}

article {
  ul {
    list-style-type: square;
    padding-left: 1.5rem;

    li {
      list-style-type: square;
    }
  }

  figure img {
    @extend .responsive-img;
  }
}

.profile-photo {
  width: 160px;
}

.social-icons{
  padding-right: 8px;
  height: 20px;
}

#full-page {
  height: 70vh;
}

.shadow {
  color: #fff;
  filter:drop-shadow(3px 4px 2px black);
  -webkit-font-smoothing: antialiased;
}

#index-video, #alternative {
    width: 100vw; /* Could also use width: 100%; */
    height: 100vh;
    object-fit: cover;
    position: absolute; /* Change position to absolute if you don't want it to take up the whole page */
    left: 0px;
    top: 0px;
    z-index: -1;
}

#bk-image {
  z-index: 0;
}

#index-logo {
  position: absolute;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  img {
    max-width: 30vw;
    max-height: 30vh;
    width: auto;
    height: auto;
  }
}

#main-logo {
  max-width: 30vw;
  max-height: 30vh;
  width: auto;
  height: auto;
}

.no-margin {
  margin: 0 0;
}

.pad-top {
  padding-top: 5px;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateX(-50%);

  @media #{$small-and-down} {
    left: 53%;
  }
  @media #{$medium-and-up} {
    left: 51%;
  }
}

@media only screen and (max-height : 750px) {
  .hide-on-short {
    display: none !important;
  }
  .show-on-short {
    display: block !important;
  }
}

.small_medium {
  font-size: 3em !important;
}

#to-top {
  position: fixed;
  bottom: 5vh;
  right: 5vw;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;

  &.visible, &.fade-out {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }

  &.visible {
    visibility: visible !important;
    opacity: 1;
  }

  &.fade-out {
    opacity: .6;
  }
}

dl {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    max-width: 670px;
}
dl > * {
    padding-top: 0.5em;
}
dt {
    width:30%;
    font-weight: bold;
    text-align: left;
}
dd {
    width:60%;
    padding-left:1em;
    margin-left: 0px;
}
dd + dd {
    width: 100%;
    padding-left: calc(30% + 1em);
}
dt + dt {
    padding-right: 60%;
}
dt + dt + dd {
    margin-top: -1.625em; /* own height including padding */
    padding-left: calc(30% + 1em);
}

.crossfade > img {
  animation: imageAnimation 60s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  opacity: 0;
  z-index: 0;
}

.crossfade > img:nth-child(1) {
    background-image: url('/imgs/wof2014-1.jpg');
}

.crossfade > img:nth-child(2) {
  animation-delay: 12s;
  background-image: url('/imgs/gradball2019.jpg');
}

.crossfade > img:nth-child(3) {
  animation-delay: 24s;
  background-image: url('/imgs/massive32.jpg');
}

.crossfade > img:nth-child(4) {
  animation-delay: 36s;
  background-image: url('/imgs/radiomic.jpg');
}

.crossfade > img:nth-child(5) {
  animation-delay: 48s;
  background-image: url('/imgs/diwaliball2018.jpg');
}

@keyframes
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 1;
}
 17% {
 opacity: 1
}
 25% {
 opacity: 0
}
 100% {
 opacity: 0
}
}
