@import "compass";

// Mixins
@import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

$primary-color: color("grey", "darken-4");
$secondary-color: color("grey", "darken-3");

@import "materialize/components/variables";

$footer-bg-color: $primary-color-dark;

@import "materialize";

// sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-footer {
  color: color("grey", "base");
  margin-top: 0 !important;

  .assoc-logo {
    max-height: 2rem;
  }
}

#main-nav {
  background: transparent;
  box-shadow: none;

  margin-top: 5rem;
  margin-bottom: 5rem;

  .container {
    display: block;
  }

  img.brand-logo {
    height: inherit;
    padding: 0.2rem
  }
}

#page-title {
  margin-top: 8rem;
}

#TableOfContents {
  height: auto;

  > ul > li > ul {
    @extend .table-of-contents;

    li {
      width: 100%;
    }
  }

  > ul li:hover {
    background-color: inherit;
  }
}

// Setup parallax images
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  background-color: color("grey", "darken-4");
  z-index: 0;

  p {
    line-height: 2rem;
  }

  .parallax img {
    height: 150%;
  }
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 0;
  }
}

#index-banner {
  min-height: inherit;
}

article {
  ul {
    list-style-type: square;
    padding-left: 1.5rem;

    li {
      list-style-type: square;
    }
  }
}
