# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Hugo related things
hugo
docs/public*
/.idea
nohup.out
cover.out
*.swp
*.swo
.DS_Store
*~
public/
htmltest

# Gems
vendor/
bin/
.bundle/

# Compass
*.sass-cache
static/css

# HTML Proofer
tmp/*
