language: go
go:
  - 1.4
sudo: false
install:
  - go get github.com/spf13/hugo
  - gem install bundler
  - bundle install --without development --deployment --jobs=3 --retry=3
cache:
  directories:
  - vendor/bundle
script:
 - compass compile -e production --force
 - hugo
after_script:
  - _bin/deploy.sh
branches:
  only:
  - master
env:
  global:
    - GH_REF=github.com/nottinghamtec/Main-Website.git
    - secure: "Ahqq4K8ubuwZqSIJMu7eflk7ZTwONFADVhLj+LnUDq8YKHkJ0Qju5cddHaCBtdjWbg27iSd3AUg6+ITTzSFUTGfNQzrko1KmHHzuhPz5YfhHrHuDi+IGCQOcQI4opfbdUxU03QYyjIpabHo0uF1r3dt1l4IJLglObo43Mu5eJL9mFal+y9gcUhDxfUbzWmo79raMdf2t8EU94KfrqbpJ9q9zwlZYHIDyx4mUqd+xeKyL5Mguzp05QZ06TotN5FATiqYIIrZyqDFedSM/RKyqsSdvP3VVHILji9pg+EUcdXgcSJEoNdEXWt2KqKO5G6p7vdx3kdgC/dSNzQkuB7SY+kC9nmL9UJgvk4Zsu7AgE2DuYbfS72yNWyGIQ3dIKocyllaNpSIyaspw5l8cx+lH7SM67FEBpc8v9avM7CUxnualoG+L9Wlfeb319vXAzJQ0n0hFaEwaqTA8bXqj0LXpRsTAtQwlv91yxR+r2SFYTcFiInn0Ad1YJSUu48iDk0ulANW1KOmehWKw+e4v/dXD4VNFgjPcemZ4Vhpva/bZp5STqInieV1ZBJnxmXnfUIxITvvhPjEKjDNpMHa/JEuYRCPh4aaGRjxvFHibUS3RjYnyvKJZVHj0oaqS2nMobmrC++K1JbFhrNlEdHcBMqKOaAizGRj/JjWnxNhdjjlek/0="
