{{ partial "head.html" . }}
{{ partial "header.html" . }}

<article>
	<div class="container">
		{{ .Content }}

		{{ $last := sub (len $.Site.Data.committee.members) 1 }}

		{{ range $index, $item := $.Site.Data.committee.members }}

			{{ if eq (mod $index 2) 0 }}
			<div class="row">
			{{ end }}

			<div class="col s12 m6{{ if and (eq $index $last) (eq (mod $index 2) 0) }} offset-m3{{ end }}">
				
				<div class="center">
					{{ if $item.Photo }}
						<img src="{{$item.Photo}}" class="responsive-img circle profile-photo" alt="{{$item.Name}}" />
					{{ end }}
					<h3>{{$item.Name}}</h3>
					<h4>{{$item.Position}}</h4>
					{{ if $item.Bio }}
						{{$item.Bio | markdownify}}
					{{ end }}
				</div>

			</div>
			
			{{ if or (eq $index $last) (eq (mod $index 2) 1) }}
			</div>
			{{ end }}

			{{ $index := add $index 1 }}

		{{ end }}
	</div>
</article>

{{ partial "footer.html" . }}

