{{ partial "head.html" . }}

<header>
  <div class="slider">
    <ul class="slides">
    {{ $title := .Params.titles }}
    {{ $caption := .Params.captions }}
    {{ $placement := .Params.placements }}

    {{ range $index, $photo := .Params.photos }}
      <li>
        <a href="/venues">
          <img src="{{$photo}}">
        </a> 
        <div class="caption {{ if (index $placement $index) }}{{index $placement $index}}-align{{ else }}left-align{{ end }}">
          {{ if (index $title $index) }}
          <h3 class="outline">{{ index $title $index }}</h3>
          {{ end }}
          {{ if (index $caption $index) }}
          <h5 class="light grey-text text-lighten-3 outline">{{index $caption $index }}</h5>
          {{ end }}
        </div>
      </li>

      {{ $index := add $index 1 }}
      {{ end }}
    </ul>
  </div>
</header>
<main>
  <article>
    <div class="container">
      {{ .Content }}
      {{ partial "breadcrumbs.html" . }}
    </div>
  </article>
</main>

{{ partial "footer.html" . }}
