<div class="nav-wrapper contain">
  <div class="col s12">
    {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "/" }}
      <a class="breadcrumb" href="/">{{ .Site.Title }}</a>
      {{ $split := split $url "/" }}
      {{ $last := sub (len $split) 2 }}
      {{ $.Scratch.Set "url" "/" }}
      {{ range $index, $element := $split }}
        {{ if . }}
          {{ $.Scratch.Add "url" . }}
          {{ $.Scratch.Add "url" "/" }}
          <a class="breadcrumb" href='{{ $.Scratch.Get "url"  }}'>
            {{ if and $.Title (eq $index $last) }}
              {{ $.Title}}
            {{ else }}
              {{ title . }}
            {{ end }}
          </a>
        {{ end }}
      {{ end }}
  </div>
</div>

<!-- Display all venues, for use in a menu at some point. Haven't decided where yet... -->
<!-- {{ range where .Site.Pages "Section" "venues" }}
   {{ .Title }}
{{ end }}
<br>
{{ title .Section }} -->
