	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
	<script>
		$(document).ready(function() {
			// Floating-Fixed table of contents
		    if ($('header').length) {
		      $('.toc-wrapper').pushpin({ top: $('header').height() });
		    }
		    else if ($('#index-banner').length) {
		      $('.toc-wrapper').pushpin({ top: $('#index-banner').height() });
		    }
		    else {
		      $('.toc-wrapper').pushpin({ top: 0 });
		    }
		})

		// Plugin initialization
	    $('.slider').slider({full_width: true});
	    $('.parallax').parallax();
	    $('.modal-trigger').leanModal();
	    $('.scrollspy').scrollSpy();
	    $('.button-collapse').sideNav({'edge': 'left'});
	    $('.datepicker').pickadate({selectYears: 20});
	    $('select').not('.disabled').material_select();
	</script>
</body>
</html>
