<footer class="page-footer">
    <div class="container">
        <div class="row no-margin">
            <div class="col s12 m2 l1 brand-logo">
                <img src="/imgs/tec_logo_white.png" alt="TEC PA &amp; Lighting">
            </div>
            <div class="col s12 m8">
                <ul class="left">
                    <li><a href="/legal/">Legal</a></li>
                    <li><a href="/privacy/">Privacy Policy</a></li>
                    <li><a href="/cookies/">Cookie Policy</a></li>
                    <li><a href="https://members.nottinghamtec.co.uk">Members' Login</a></li>
                </ul>
            </div>

            <div class="col s12 m2 right center-on-small-only">
                <div class="col s2 m6 offset-s4 center-on-small-only">
                    <a href="http://su.nottingham.ac.uk/" rel="nofollow">
                        <img class="assoc-logo valign right" src="/imgs/UoNSU-small.png"
                             alt="University of Nottingham Students' Union">
                    </a>
                </div>
                <div class="col s2 m6 center-on-small-only">
                    <a href="https://www.plasa.org/" rel="nofollow">
                        <img class="assoc-logo valign right" src="/imgs/plasa-small.png" alt="Plasa Member">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date()
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]
    a.async = 1
    a.src = g
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga')

  ga('create', 'UA-43285686-10', 'auto')
  ga('send', 'pageview')

</script>

<script>
    function pinToc() {
      // Floating-Fixed table of contents
      let hTop, hBot;

      if ($('header').length) {
        hTop = $('header').height();
      }
      else if ($('#index-banner').length) {
        hTop = $('#index-banner').height();
      }
      else {
        hTop = 0;
      }

      if ($('footer').length) {
        hBot = $('footer').height();
      } else {
        hBot = 0;
      }

      $('.toc-wrapper').each(function() {
        let $this = $(this);
        $this.pushpin('remove');
        hBot = $('main').outerHeight() + hTop - $this.parent().height();
        $this.pushpin({
          top: hTop,
          bottom: hBot,
        })
      });
    }

    $(window).load(pinToc);

    $(window).resize(pinToc);

    // Plugin initialization
    $('.slider').slider({full_width: true});
    $('.parallax').parallax();
    $('.modal-trigger').modal();
    $('.scrollspy').scrollSpy();
    $('.button-collapse').sideNav({'edge': 'left'});
    $('.datepicker').pickadate({selectYears: 20});
    $('select').not('.disabled').material_select();
	</script>

<script>
  $(document).ready(function () {
    var offset = 300 // How far down does the button show
    var offset_opacity = 700 // How far down does the opacity reduce
    var scroll_top_duration = 700 // Duration of animation

    $back_to_top = $('.to-top') // Button class

    $(window).scroll(function () {
      if ($(this).scrollTop() > offset) {
        $back_to_top.addClass('visible')
      } else {
        $back_to_top.removeClass('visible fade-out hover')
      }
      if ($(this).scrollTop() > offset_opacity) {
        $back_to_top.addClass('fade-out')
      }
    })

    // Capture screen presses on touch devices
    $back_to_top.on('click touchstart', function () {
      $back_to_top.addClass('hover')
    })

    // Smooth (criminal) scroll to top
    $back_to_top.on('click', function (event) {
      event.preventDefault()
      $('body,html').animate({
          scrollTop: 0,
        }, scroll_top_duration
      )
    })
  })
</script>
</body>
</html>
