	<footer class="page-footer">
		<div class="container">
			<div class="row no-margin valign-wrapper">
				<div class="col m4 l4 hide-on-small-and-down left-align">
					<a href="/legal/">Legal</a>
					&nbsp; &boxv; &nbsp;
					<a href="https://members.nottinghamtec.co.uk">Members' Login</a>
				</div>

				<div class="col s12 m4 l4 center-align">
					&copy; TEC PA &amp; Lighting
					<span class="hide-on-med-and-down">
						&emsp;&emsp;
						<!-- Social Media Icons-->
						<a href="https://www.facebook.com/nottinghamtec" target="_blank"><i class="fa fa-facebook"></i></a>
						&nbsp;
						<a href="https://twitter.com/nottinghamtec" target="_blank"><i class="fa fa-twitter"></i></a>
						&nbsp;
						<a href="https://www.instagram.com/nottinghamtec/" target="_blank"><i class="fa fa-instagram"></i></a>
					</span>
				</div>
				<div class="col m3 hide-on-small-and-down">
					<a href="https://su.nottingham.ac.uk/" rel="nofollow">
						<img class="assoc-logo valign right" src="/imgs/UoNSU-small.png" alt="University of Nottingham Students' Union">
					</a>
				</div>
				<div class="col m1 hide-on-small-and-down" style="margin-left: 1em;">
					<a href="https://www.plasa.org/" rel="nofollow">
						<img class="assoc-logo valign right" src="/imgs/plasa.svg" alt="Plasa Member">
					</a>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

	<script>
		$(document).ready(function() {
			// Floating-Fixed table of contents
		    if ($('header').length) {
		      $('.toc-wrapper').pushpin({ top: $('header').height() });
		    }
		    else if ($('#index-banner').length) {
		      $('.toc-wrapper').pushpin({ top: $('#index-banner').height() });
		    }
		    else {
		      $('.toc-wrapper').pushpin({ top: 0 });
		    }
		})

		// Plugin initialization
	    $('.slider').slider({full_width: true});
	    $('.parallax').parallax();
	    $('.modal-trigger').leanModal();
	    $('.scrollspy').scrollSpy();
	    $('.button-collapse').sideNav({'edge': 'left'});
	    $('.datepicker').pickadate({selectYears: 20});
	    $('select').not('.disabled').material_select();
	</script>

	<script>
		$(document).ready(function(){
			var offset = 300; // How far down does the button show
			var offset_opacity = 700; // How far down does the opacity reduce
			var scroll_top_duration = 700; // Duration of animation

			$back_to_top = $('.to-top'); // Button class

			$(window).scroll(function(){
				if( $(this).scrollTop() > offset ) {
					$back_to_top.addClass('visible')
				} else {
					$back_to_top.removeClass('visible fade-out hover');
				}
				if( $(this).scrollTop() > offset_opacity ) {
					$back_to_top.addClass('fade-out');
				}
			});

			// Capture screen presses on touch devices
			$back_to_top.on('click touchstart', function() {
				$back_to_top.addClass('hover');
			});

			// Smooth (criminal) scroll to top
			$back_to_top.on('click', function(event){
				event.preventDefault();
				$('body,html').animate({
					scrollTop: 0 ,
				 	}, scroll_top_duration
				);
			});
		});
	</script>
</body>
</html>
