<header>
	<div class="parallax-container">
		<nav id="main-nav" class="container">
			<a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
			<a class="brand-logo" href="/">
				<img src="/imgs/tec_logo_white.png" alt="TEC PA &amp; Lighting">
			</a>

			{{ partial "nav.html" . }}
		</nav>

		<div class="container" id="page-title">
			<h1 class="center">{{.Title}}</h1>
		</div>

		<div class="parallax"><img src="/imgs/wof2014-1.jpg" alt="Week One Finale 2014"></div>
	</div>
	{{ partial "mobile-nav.html" . }}
</header>
