<!-- No this can't be combined with the main nav file, if you've tried this add to the counter -->
<!-- Number of times tried: 1 -->

<ul class="side-nav" id="mobile-nav">
  <li><a href="/">Home</a></li>

  {{ $currentNode := . }}
  {{ range .Site.Menus.main }}
  {{ if .HasChildren }}
    <li><a href="{{.URL}}">{{.Name}}</a></li>
      {{ range .Children }}
        <li><a href="{{.URL}}">{{.Name}}</a></li>
      {{ end }}
    {{ else }}
      <li><a href="{{.URL}}">{{.Name}}</a></li>
    {{end}}
  {{end}}

  <li><a href="https://join.nottinghamtec.co.uk">Get Involved</a></li>
</ul>
