<ul class="right hide-on-small-and-down">
	{{ $currentNode := . }}
	{{ range .Site.Menus.main }}
		{{ if .HasChildren }}
			<li><a class="dropdown-button" data-activates="dropdown-{{.Identifier}}" href="{{.URL}}">{{.Name}} &nbsp; <span class="fas fa-chevron-down right"></span></a></li>
			<ul id="dropdown-{{.Identifier}}" class="dropdown-content">
				<li><a href="{{.URL}}">{{.Name}}</a></li>
				{{ range .Children }}
					<li><a href="{{.URL}}">{{.Name}}</a></li>
				{{ end }}
                <li><a href="https://join.nottinghamtec.co.uk">Get Involved</a></li>
			</ul>
		{{ else }}
			<li><a href="{{.URL}}">{{.Name}}</a></li>
		{{ end }}
	{{ end }}
</ul>
