{{ partial "head.html" . }}

	<div class="parallax-container" id="index-banner">
		<nav id="main-nav" class="container">
			{{ partial "nav.html" . }}
		</nav>
		<div class="parallax"><img src="/imgs/wof2014-1.jpg" alt="Week One Finale 2014"></div>
		<div class="valign-wrapper" id="full-page">
		
			<div class="row">
				<div class="col s12 center-align valign">
					<h1>OOPS ... 404</h1>
					<br>
					<h4 class="white-text">Looks like we've wandered off track, let's try again.</h4>
					<br>
					<br>
					<a href="/"><button class="btn blue waves-effect waves-dark">Home</button>
				</div>
			</div>
			</div>
		</div>

{{ partial "footer.html" . }}
