{{ partial "head.html" . }}

	<div class="parallax-container" id="index-banner">
		<nav id="main-nav" class="container">
			{{ partial "nav.html" . }}
		</nav>

		<div class="valign-wrapper" id="splash-logo">
			<div class="container">
				<div class="row">
					<div class="col s8 offset-s2 m4 offset-m4">
						<img src="/imgs/tec_logo_white.png" alt="TEC PA and Lighting" class="responsive-img" />
					</div>
				</div>
				<div class="row">
					<div class="col s12 center">
						<p class="flow-text">
							<a class="white-text" href="/about/">Providing high quality sound, lighting and audio-visual services to organisations both within and outside the University of Nottingham Students’ Union.</a>
						</p>
						<p class="flow-text">
							<a href="tel:01158468720" class="white-text"><i class="material-icons">phone</i> 0115 84 68720</a>
						</p>
						<p class="flow-text">
							<a href="mailto:info@nottinghamtec.co.uk" class="white-text"><i class="material-icons">email</i> info@nottinghamtec.co.uk</a>
							</p>
						<!-- Social Media Icons-->
						<ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
			      			<li><a href="https://www.facebook.com/nottinghamtec"><i class="fa fa-facebook"></i></a></li>
			      			<li><a href="https://twitter.com/Nottingham_TEC"><i class="fa fa-twitter"></i></a></li>
			  			</ul>
					</div>
				</div>
				<div class="row">
					<div class="col s12 center">
						<a href="#what-we-do" class="btn grey darken-4">Scroll for more</a>
					</div>
				</div>
			</div>
		</div>
		<div class="parallax">
			<img src="/imgs/wof2014-1.jpg" alt="Week One Finale 2014">
		</div>
	</div>

<section id="main">
	<div class="grey darken-4">
		<div class="section scrollspy" id="what-we-do">
			<div class="container">
				<div class="video-container no-controls">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/Ld4GCH_NVh8?rel=0;autohide=1" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>

	<div class="parallax-container valign-wrapper">
		<div class="container">
			<div class="row">
				<div class="col s12 center">
					<h4>Need an event?</h4>
					<p>We can provide equipment &amp; services for anything from a small open mic night, to a massive arena concert. To find out more and get a quote, contact us using the details above and we'll get back to you ASAP.</p>
				</div>
			</div>
		</div>
		<div class="parallax">
			<img src="/imgs/gradball2014-1.jpg" alt="Rizzelkicks at Graduation Ball 2014">
		</div>
	</div>

	<div class="grey darken-4">
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col s12 m6">
						<div class="card hoverable">
							<div class="card-content">
								<span class="card-title black-text">Join TEC</span>
								<p>TEC is entirely student run and always looking out for new members to join. Whether you're an experienced technician or just looking to start something new, get in touch!</p>
								<p>We provide extensive training in all areas, so you'll definitely learn something new!</p>
								<p>To find out more about TEC, check out our <a href="/about/">about page</a> or come along to our <a href="/try-it/">Try-It event</a>.</p>
							</div>
						</div>
					</div>

					<div class="col s12 m6">
						<div class="card hoverable">
							<a class="twitter-timeline" href="https://twitter.com/Nottingham_TEC" data-widget-id="648995850081972224">Tweets by @Nottingham_TEC</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{ partial "footer.html" . }}
