{{ partial "head.html" . }}
<link rel="canonical" href="/forum/">
<meta http-equiv="refresh" content="0; url=https://forum.nottinghamtec.co.uk/">

<div class="valign-wrapper grey darken-4" id="index-banner">
  <div class="container center-align">
    <div class="row valign">
      <div class="col s12 hide-on-small-and-down hide-on-short">
        <img src="/imgs/tec_logo_white.png" alt="TEC PA and Lighting" class="responsive-img" id="main-logo" />
      </div>
      <div class="col s12">
        <h1 class="white-text">{{ .Title }}</h1>
        {{ .Content }}
      </div>
    </div>
  </div>
</div>

<script>location="https://forum.nottinghamtec.co.uk/"</script>
