{{ partial "head.html" . }}
{{ partial "header.html" . }}

<article>
	<div class="container">
		{{ $last := sub (len .Data.Pages) 1 }}

		{{ range $index, $item := .Data.Pages }}

			{{ if eq (mod $index 2) 0 }}
			<div class="row">
			{{ end }}

			<!-- if this the last one and it's on it's own, center it -->
			<div class="col s12 m6{{ if and (eq $index $last) (eq (mod $index 2) 0) }} offset-m3{{ end }}">
				{{ $item.Render "summary" }}
			</div>
			
			{{ if or (eq $index $last) (eq (mod $index 2) 1) }}
			</div>
			{{ end }}

		{{ end }}
	</div>
</article>

{{ partial "footer.html" . }}
